@use 'sass:list';

$menu: "szh-menu-";
$duration: 0.15s;
$directions: (
    "left": "X" 1,
    "right": "X" -1,
    "top": "Y" 1,
    "bottom": "Y" -1,
);

@mixin animation($name, $dir) {
    &--state-opening#{&}--dir-#{$dir} {
        animation: #{$menu}show-#{$name}-#{$dir} $duration ease-out;
    }

    &--state-closing#{&}--dir-#{$dir} {
        animation: #{$menu}hide-#{$name}-#{$dir} $duration ease-in;
    }
}

@mixin slide-start($axis, $sign) {
    opacity: 0;
    transform: translate#{$axis }($sign * 0.75rem);
}

@mixin slide-end {
    opacity: 1;
    transform: none;
}

@each $dir, $value in $directions {
    $axis: list.nth($value, 1);
    $sign: list.nth($value, 2);

    @keyframes #{$menu}show-slide-#{$dir} {
        from {
            @include slide-start($axis, $sign);
        }
        to {
            @include slide-end;
        }
    }

    @keyframes #{$menu}hide-slide-#{$dir} {
        from {
            @include slide-end;
        }
        to {
            @include slide-start($axis, $sign);
        }
    }
}
