@use 'sass:color';

$color: #212529 !default;
$color-active: #fff !default;
$color-disabled: #aaa !default;
$color-divider: rgba(0, 0, 0, 0.12) !default;
$color-header: #888 !default;

$background-color: #fff !default;
$background-color-hover: color.scale($background-color, $lightness: -8%) !default;
$background-color-active: #007bff !default;

$arrow-size: 0.75rem;
$arrow-pos: -($arrow-size / 2);

$border-color: rgba(0, 0, 0, 0.1) !default;
