body {
    height: 2000px;
}

.test-case {
    margin: 1rem 4rem;
    padding: 1rem;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    &__hover {
        margin: 0 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid;
    }

    &--repos1 {
        margin-top: 700px;
    }

    &--portal1 {
        overflow: auto;
        height: 300px;
    }

    &__portal1 {
        height: 1500px;
        align-self: stretch;
        padding-top: 750px;
    }
}
