@use 'sass:list';

$duration: 0.15s;
$directions: (
    "left": "X" 1,
    "right": "X" -1,
    "top": "Y" 1,
    "bottom": "Y" -1,
);

@mixin slide($dir) {
    &--open#{&}--dir-#{$dir} {
        animation: slide-out-#{$dir} $duration ease-out;
    }

    &--closing#{&}--dir-#{$dir} {
        animation: slide-in-#{$dir} $duration ease-in;
    }
}

@mixin slide-start($axis, $sign) {
    opacity: 0;
    transform: translate#{$axis }($sign * 0.75rem);
}

@mixin slide-end {
    opacity: 1;
    transform: none;
}

@each $dir, $value in $directions {
    $axis: list.nth($value, 1);
    $sign: list.nth($value, 2);

    @keyframes slide-out-#{$dir} {
        from {
            @include slide-start($axis, $sign);
        }
        to {
            @include slide-end;
        }
    }

    @keyframes slide-in-#{$dir} {
        from {
            @include slide-end;
        }
        to {
            @include slide-start($axis, $sign);
        }
    }
}
