@use 'var';
@use 'mixins';

.rc-menu-container {
    position: static;

    &--open {
        position: relative;
        z-index: 100;
    }
}

.rc-menu {
    @include mixins.reset-list;
    font-size: var.$font-size;
    color: var.$color;
    background-color: var.$background-color;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    position: absolute;
    min-width: 10rem;
    padding: 0.5rem 0;

    &:focus {
        outline: none;
    }

    &__item {
        font-weight: var.$font-weight;
        padding: 0.6rem 1.5rem;
        background-color: var.$background-color;
        &--active {
            background-color: var.$background-color-hover;
        }
    }

    &__submenu {
        &--open {
            position: relative;
        }
    }
}

.rc-menu-button {
    // -webkit-appearance: button;
    font-size: var.$font-size;
    font-weight: var.$font-weight;
    color: var.$color;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border: 1px solid var.$border-color;
    border-radius: 0.25rem;
    background-color: var.$background-color;
    &:hover {
        background-color: var.$background-color-hover;
    }
    &:active {
        background-color: var.$background-color-active;
    }
}
