@use 'var';
@use 'mixins';
@use 'animations';
@use 'sass:map';

.rc-menu-container {
    position: relative;

    &--context-menu {
        width: 0px;
        height: 0px;
    }
}

.rc-menu {
    @include mixins.reset-list;
    @include mixins.remove-focus;
    font-size: var.$font-size;
    color: var.$color;
    background-color: var.$background-color;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    position: absolute;
    z-index: 100;
    min-width: 10rem;
    padding: 0.5rem 0;
    width: max-content;
    cursor: default;
    user-select: none;
    visibility: hidden;

    &--open {
        visibility: visible;
    }

    &--animation {
        transition: visibility 0s animations.$duration;
    }

    &--open#{&}--animation {
        transition: visibility 0s;
    }

    @each $dir in map.keys(animations.$directions) {
        @include animations.slide($dir);
    }

    &__item {
        @include mixins.remove-focus;
        position: relative;
        font-weight: var.$font-weight;
        padding: 0.6rem 1.5rem;
        background-color: var.$background-color;

        .rc-menu--animation & {
            transition: {
                property: background-color, color;
                duration: 0.2s;
                timing-function: ease;
            }
        }

        &--anchor {
            display: block;
        }

        &--hover {
            background-color: var.$background-color-hover;
        }

        &--active {
            color: var.$color-active;
            background-color: var.$background-color-active;
        }

        &--disabled {
            color: var.$color-disabled;
        }

        &--type-radio#{&}--checked::before {
            content: "\25cf";
            position: absolute;
            left: 0.45rem;
            top: 0.7rem;
            font-size: 0.75rem;
        }

        &--type-checkbox#{&}--checked::before {
            content: "\2714";
            position: absolute;
            left: 0.45rem;
        }
    }

    &__submenu {
        position: relative;

        > .rc-menu__item {
            padding-right: 2.5rem;
            &::after {
                content: "\276f";
                position: absolute;
                right: 1rem;
            }
        }
    }

    &__radio-group {
        @include mixins.reset-list;
    }

    &__header {
        color: var.$color-header;
        font-size: 0.8rem;
        padding: 0.2rem 1.5rem;
        text-transform: uppercase;
    }

    &__divider {
        height: 1px;
        margin: 0.5rem 0;
        background-color: var.$color-divider;
    }
}

.rc-menu-button {
    // -webkit-appearance: button;
    font-size: var.$font-size;
    font-weight: var.$font-weight;
    color: var.$color;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border: 1px solid var.$border-color;
    border-radius: 0.25rem;
    background-color: var.$background-color;
    &:hover {
        background-color: var.$background-color-hover;
    }
    &:active {
        background-color: var.$btn-background-color-active;
    }
}
