@use 'var';
@use 'mixins';

.example {
    margin-bottom: 4rem;
    &__actions {
        display: flex;
        justify-content: flex-end;
        padding: 0.6rem 0;

        .btn {
            @include mixins.flex-center;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin-left: 1.5rem;
            .material-icons {
                font-size: 1.2rem;
            }
        }
    }

    &__demo {
        @include mixins.flex-center;
        background-color: white;
        padding: 1rem;
        border: 1px solid var.$border-color;
        border-radius: var.$border-radius-large;
    }

    &__source {
        border-radius: var.$border-radius-large;
        .hljs {
            padding: 1rem 1.5rem;
        }
    }
}

[aria-labelledby="event-handling"] {
    .example__demo {
        height: 15rem;
        align-items: stretch;
        justify-content: space-around;

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .output {
            @include mixins.reset-list;
            font-size: 0.9rem;
            flex: 0 1 20rem;
            margin-left: 1rem;
            border: 1px solid var.$border-color;
            border-radius: var.$border-radius-medium;
            overflow-y: auto;
        }
    }
}

[aria-labelledby="focusable-item"] {
    .example__demo input {
        max-width: 10rem;
    }
}

[aria-labelledby="menu-direction"],
[aria-labelledby="menu-alignment"] {
    .example__demo {
        flex-direction: column;

        .menus {
            display: flex;
            justify-content: space-around;
            align-self: stretch;
        }

        .form {
            margin: 0 -1rem 1rem -1rem;
            label {
                margin: 0 1rem;
            }
            input[type="radio"] {
                margin-right: 0.5rem;
            }
        }

        .rc-menu-button {
            flex: 0 1 6rem;
        }
    }
}

[aria-labelledby="context-menu"] {
    .example__demo {
        min-height: 8rem;
        user-select: none;
    }
}
