.hash-heading {
    display: flex;
    align-items: flex-end;

    &__heading {
        padding: 4.5rem 0.5rem 0 0;
    }

    &__link {
        opacity: 0;
        transition: opacity 0.15s ease;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        &:hover {
            text-decoration: none;
        }
        &--hover {
            opacity: 1;
        }
    }
}
