@use 'mixins';

.hash-heading {
    display: flex;
    align-items: flex-end;
    margin-top: -4.5rem;

    &__heading {
        padding: 4.5rem 0.5rem 0 0;
    }

    &__link {
        opacity: 0;
        @include mixins.transition(opacity, 0.15s);
        line-height: 1.2;
        margin-bottom: 0.5rem;
        &:hover {
            text-decoration: none;
        }
        &--hover {
            opacity: 1;
        }
    }
}
