@use 'var';
@use 'mixins';

.hljs {
    display: block;
    overflow-x: auto;
    font-size: 90%;
    background-color: #f2f2f3;
    color: inherit;
    border-radius: var.$border-radius-medium;
    padding: 1rem 1.5rem;
    @include mixins.transition;

    &-title,
    &-name {
        font-weight: 700;
    }

    &-title,
    &-number {
        color: #267f99;
    }
    &-name {
        color: #438343;
    }
    &-attr {
        color: #235dbe;
    }
    &-string {
        color: #c6474e;
    }
    &-keyword {
        color: #6848ba;
    }
    &-tag,
    &-literal {
        color: #061683;
    }
}

.rc-app--theme-dark .hljs {
    background-color: var.$block-dark;
    &-title {
        color: var.$primary-dark;
    }
    &-name {
        color: #4ec9b0;
    }
    &-attr {
        color: #9cdcfe;
    }
    &-string {
        color: #eeab8f;
    }
    &-keyword {
        color: #eb96e4;
    }
    &-tag,
    &-literal {
        color: #4fc1ff;
    }
    &-number {
        color: #c6eeb1;
    }
}
