@use 'var';
@use 'sass:color';

// $axis: 'b' -- both, 'm' -- main axis, 'c' -- cross axis
@mixin flex-center($axis: "b", $column: false) {
    display: flex;
    flex-direction: if($column, column, row);
    justify-content: if($axis == "b" or $axis == "m", center, flex-start);
    align-items: if($axis == "b" or $axis == "c", center, flex-start);
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin highlight {
    background-color: var.$highlight-color;
    border-radius: var.$border-radius-small;
}

@mixin focus($width: 1px, $color: var.$focus-light) {
    &:focus {
        outline: none;
        border-color: $color;
        box-shadow: 0 0 0 $width $color;
    }
}

@mixin transition($property: background-color, $duration: 0.15s, $timing-function: ease-in-out) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
}

@mixin border($border: "border", $width: 1px, $transition: true) {
    #{$border}: $width solid var.$border-light;
    @if $transition {
        @include transition(border-color);
    }
}

@mixin scrollbar-light {
    &::-webkit-scrollbar-thumb {
        background-color: color.scale(var.$border-light, $lightness: -15%);
    }
    &::-webkit-scrollbar-track {
        background-color: var.$border-light;
    }
}

@mixin scrollbar-dark {
    &::-webkit-scrollbar-thumb {
        background-color: color.scale(var.$border-dark, $lightness: 25%);
    }
    &::-webkit-scrollbar-track {
        background-color: var.$border-dark;
    }
}
