@use 'var';

// $axis: 'b' -- both, 'm' -- main axis, 'c' -- cross axis
@mixin flex-center($axis: "b", $column: false) {
    display: flex;
    flex-direction: if($column, column, row);
    justify-content: if($axis == "b" or $axis == "m", center, flex-start);
    align-items: if($axis == "b" or $axis == "c", center, flex-start);
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin highlight {
    background-color: var.$highlight-color;
    border-radius: var.$border-radius-small;
}
