@use 'sass:color';
@use 'var';
@use 'mixins';

#content .table-contents {
    white-space: nowrap;
    li a {
        display: block;
        padding: 0.5rem 2rem;
        color: var.$navbar-dark;
        @include mixins.transition((color, background-color), 0.15s);

        &:hover {
            text-decoration: none;
            background-color: var.$border-light;
        }

        @media (max-width: var.$bp-lg) {
            padding: 0.5rem 1rem;
        }
    }

    nav {
        @include mixins.remove-focus;
    }

    &__header {
        display: none;
    }

    [class^="contents-list"] {
        @include mixins.reset-list;
        li {
            line-height: 1.1;
        }
    }

    .contents-list-lv1 {
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 1.1rem;
        font-weight: 600;

        &:hover::-webkit-scrollbar {
            width: 6px;
        }
        @include mixins.scrollbar(0);
        > li {
            margin: 0.5rem 0;
        }
    }

    .contents-list-lv2 {
        font-size: 1rem;
        font-weight: 400;
    }

    .contents-list-lv3 a {
        padding-left: 2.75rem;
        @media (max-width: var.$bp-lg) {
            padding-left: 1.75rem;
        }
        font-size: 0.95rem;
        &:not(:hover) {
            color: color.scale(var.$navbar-dark, $lightness: 10%);
        }
    }

    &--theme-dark {
        li a {
            color: var.$navbar-light;
            &:hover {
                background-color: var.$border-dark;
            }
        }
        .contents-list-lv3 a:not(:hover) {
            color: color.scale(var.$navbar-light, $lightness: -10%);
        }

        .contents-list-lv1 {
            @include mixins.scrollbar-dark;
        }
    }
}
