@use 'sass:color';
@use 'var';
@use 'mixins';

#content .table-contents {
    white-space: nowrap;
    a {
        &:hover {
            text-decoration: none;
        }
        &:not(:hover) {
            color: var.$navbar-dark;
        }
    }

    nav {
        @include mixins.flex-center("c", true);
        overflow-x: hidden;
        overflow-y: auto;
        &:focus {
            outline: none;
        }
    }

    &__header {
        display: none;
    }

    [class^="contents-list"] {
        @include mixins.reset-list;
        li {
            margin: 0.75rem 0;
            line-height: 1.1;
        }
    }

    .contents-list-lv1 {
        font-size: 1.1rem;
        font-weight: 600;
        padding: 1.5rem 1rem;
        > li {
            margin-bottom: 1.25rem;
        }
    }

    .contents-list-lv2 {
        font-size: 1rem;
        font-weight: 400;
    }

    .contents-list-lv3 {
        margin-left: 0.75rem;
        font-size: 0.95rem;
        a:not(:hover) {
            color: color.scale(var.$navbar-dark, $lightness: 10%);
        }
    }

    &--theme-dark {
        a:not(:hover) {
            color: var.$navbar-light;
        }
        .contents-list-lv3 a:not(:hover) {
            color: color.scale(var.$navbar-light, $lightness: -10%);
        }
    }
}
