@use 'var';
@use 'mixins';

.theme-switch {
  display: flex;
  align-items: center;
  font-family: 'Material Icons';
  cursor: pointer;
  color: var.$navbar-dark;
  border: none;
  @include mixins.remove-focus;

  &::before {
    content: 'nights_stay';
  }
  &:checked::before {
    content: 'light_mode';
  }
  &:hover {
    opacity: 0.75;
  }

  &--theme-dark {
    color: var.$navbar-light;
  }
}
