@use 'var';

.theme-switch {
    font-family: "Material Icons";
    cursor: pointer;
    color: var.$navbar-dark;
    &::before {
        content: "nights_stay";
    }
    &:checked::before {
        content: "light_mode";
    }
    &:hover {
        opacity: 0.75;
    }
    &:focus {
        outline: none;
    }

    &--theme-dark {
        color: var.$navbar-light;
    }
}
