$border-color: #ccc;
$border-radius-small: 0.125rem;
$border-radius-medium: 0.25rem;
$border-radius-large: 0.375rem;
$dark-color: #343a40;
$highlight-color: rgba(255, 229, 100, 0.3);
$mask-color: rgba(0, 0, 0, 0.5);
$heading-dark: #b0b0b0;
$heading-light: #505050;
$navbar-dark: #1f2021;
$navbar-light: #f8f9fa;
$border-dark: #333;
$border-light: #ddd;
$secondary-light: #808080;
$secondary-dark: #aaa;
$bp-lg: 1150px;
