$border-color: #ccc;
$border-radius-small: 0.125rem;
$border-radius-medium: 0.25rem;
$border-radius-large: 0.375rem;
$secondary-color: #808080;
$dark-color: #343a40;
$highlight-color: rgba(255, 229, 100, 0.3);
$mask-color: rgba(0, 0, 0, 0.33);
$navbar-dark: #1f2021;
$navbar-light: #fff;
