@use 'var';
@use 'mixins';
@use 'basis';
@use 'menu';
@use 'logo';
@use 'theme-switch';
@use 'navbar';
@use 'hljs';
@use 'example';
@use 'table-contents';
@use 'hash-heading';

.lib-name {
    font-weight: 600;
}

.rc-app {
    padding-top: 4rem;
    line-height: 1.5;
    color: #212121;
    background-color: #fafbfc;
    @include mixins.transition((background-color, color));
    @include mixins.scrollbar;

    &__toast {
        position: fixed;
        z-index: 200;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        padding: 0.6rem 1.5rem;
        border-radius: var.$border-radius-medium;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.133), 0px 0.6px 2px rgba(0, 0, 0, 0.1);
        background-color: #f5f6fa;
        pointer-events: none;
        user-select: none;
    }

    &--theme-dark {
        color: var.$text-dark;
        background-color: #18191a;
        @include mixins.scrollbar-dark;

        #content {
            .example__demo,
            .install-command {
                background-color: var.$background-dark;
                border-color: var.$border-dark;
            }
        }
    }
}

#footer {
    font-size: 0.9em;
    color: var.$secondary-light;
    padding: 2rem 1.5rem;
    text-align: center;
    background-color: #f6f6f6;
    @include mixins.border(border-top, $transition: false);
    @include mixins.transition((background-color, border-color));

    .rc-app--theme-dark & {
        color: var.$secondary-dark;
        background-color: var.$background-dark;
        border-color: var.$border-dark;
    }
}

#content {
    @include mixins.flex-center("m");

    em {
        border-radius: var.$border-radius-medium;
        background-color: var.$highlight-color;
        padding: 0.25rem 0.75rem;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 0;
        color: var.$heading-light;
        .rc-app--theme-dark & {
            color: var.$heading-dark;
        }
    }

    h1 {
        margin-top: 3.5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    h2 {
        margin-top: 2rem;
        font-size: 1.75rem;
        font-weight: bold;
    }

    h3 {
        margin-top: 1rem;
        font-size: 1.75rem;
        font-weight: 400;
    }

    .table {
        margin-bottom: 3rem;
    }

    .table-contents {
        position: sticky;
        left: 0;
        flex: 1 1 0;
        @media (max-width: 1350px) {
            flex: 1 0 auto;
        }
    }

    main {
        flex: 0 1 900px;
        padding: 0 2rem 3rem 2rem;
        @include mixins.border(border-left);
        .rc-app--theme-dark & {
            border-color: var.$border-dark;
        }
        > .hash-heading:first-child {
            margin-top: -7rem;
        }

        @media (max-width: var.$bp-lg) {
            padding: 0 1rem 3rem 1rem;
        }
    }

    .place-holder {
        flex: 1 1 0;
    }
}

$toc-animation: 0.22s ease-out;

@keyframes slide-out {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}

@keyframes fade-in {
    from {
        background-color: transparent;
    }
    to {
        background-color: var.$mask-color;
    }
}

// Hide table of contents
@media (max-width: 950px) {
    #header .navbar {
        .app-logo,
        .theme-switch {
            display: none;
        }
        &__toggle {
            display: inline-block;
        }
        &__github {
            margin-left: auto;
        }
    }

    #content {
        display: block;
        .table-contents {
            position: fixed;
            display: none;
            z-index: 200;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: var.$mask-color;

            nav {
                background-color: var.$navbar-light;
                box-shadow: 4px 0 20px 4px var.$mask-color;
                min-width: 15rem;
                @include mixins.transition;
            }

            &__header {
                display: flex;
                align-items: center;
                padding: 1rem;
                @include mixins.border(border-bottom);
            }

            .app-logo {
                text-decoration: none;
                color: var.$navbar-dark;
                &:hover {
                    opacity: 0.75;
                }
            }

            .theme-switch {
                font-size: 1.5rem;
                margin-left: auto;
            }

            .contents-list-lv1::-webkit-scrollbar {
                width: 3px;
            }

            &--open {
                display: flex;
                animation: fade-in $toc-animation;
                nav {
                    animation: slide-out $toc-animation;
                }
            }

            &--theme-dark {
                nav {
                    background-color: var.$navbar-dark;
                }
                .app-logo {
                    color: var.$navbar-light;
                }
                .table-contents__header {
                    border-color: var.$border-dark;
                }
            }
        }

        main {
            border-left: none;
        }
    }
}

#usage {
    .features {
        font-size: 1.2rem;
        @media (max-width: 600px) {
            font-size: 1.1rem;
        }
    }

    .install-command {
        position: relative;
        padding: 0.75rem 1rem;
        background-color: white;
        border-radius: var.$border-radius-medium;
        @include mixins.border($transition: false);
        @include mixins.transition((background-color, border-color));
        margin: 1rem 0;
        p {
            margin-bottom: 0;
        }
        .comment {
            color: var.$secondary-light;
            margin-top: 1.5rem;
            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    .sample-text {
        margin-left: 1.5rem;
    }

    // className prop example styles
    .my-menu {
        border: 2px solid #dc3545;
        border-radius: 0;
        box-shadow: none;
    }

    .my-menuitem {
        color: blue;
        background-color: #ee1;
    }

    .my-menuitem-hover {
        color: #ee1;
        background-color: #bf4080;
    }

    .my-menuitem-active {
        background-color: #333;
    }
}

#documentation {
    li {
        margin-top: 0.5rem;
    }
    li code:first-child {
        margin-right: 0.5rem;
    }

    .keyboard {
        @include mixins.reset-list;
        margin-bottom: 2rem;

        li {
            margin-top: 0;
        }

        li span:first-child {
            display: inline-block;
            font-size: 0.875rem;
            border: 1px solid #212529;
            border-radius: var.$border-radius-small;
            background-color: white;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            padding: 0 0.5rem;
            margin: 0.25rem 0.5rem 0.25rem 0;
            @include mixins.transition;
            .rc-app--theme-dark & {
                background-color: var.$btn-dark;
                border-color: var.$border-dark;
            }
        }
    }
}

#style-guide {
    h2 {
        font-weight: 500;
    }

    table ul {
        @include mixins.reset-list;
    }
}

#not-found {
    text-align: center;
    h1 {
        margin-top: 3rem;
    }
}
