@use 'var';
@use 'mixins';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    background-color: #f9f9f9;
    padding-top: 4rem;
}

#header {
    .navbar-nav {
        font-weight: 700;
        li {
            margin: 0 1.25rem;
        }
    }
}

#footer {
    font-size: 0.9em;
    color: var.$secondary-color;
    padding: 1rem 1.5rem 3rem;
    border-top: 1px solid var.$border-color;
    text-align: center;
}

#content {
    @include mixins.flex-center("c", true);

    > .table-contents {
        position: fixed;
        left: 0;
        top: 5rem;
    }

    main {
        max-width: 900px;
    }
}

#usage {
    .sample-text {
        margin-left: 1.5rem;
    }
}

.example {
    h2 {
        padding-top: 5rem;
    }

    a {
        text-decoration: none;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        padding: 0.6rem 0;

        .btn {
            @include mixins.flex-center;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin-left: 1.5rem;
            .material-icons {
                font-size: 1.3rem;
            }
        }
    }

    .code-demo {
        @include mixins.flex-center;
        background-color: white;
        padding: 1rem;
        border: 1px solid var.$border-color;
        border-radius: 6px;
    }

    .code-source {
        border-radius: 6px;
        max-width: 90vw;
        .hljs {
            padding: 1rem 1.5rem;
        }
    }
}

.hash-link {
    &::after {
        content: "#";
        margin-left: 0.6rem;
        opacity: 0;
        transition: opacity 0.15s ease;
    }
    &:hover::after {
        opacity: 0.8;
    }
}
