@use 'sass:color';
@use 'var';
@use 'mixins';
@use 'menu';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    color: var.$link-color;
    &:hover {
        color: var.$link-hover-color;
    }
}

.table-contents {
    @include mixins.flex-center("m");
    [class^="contents-list"] {
        @include mixins.reset-list;
    }

    .contents-list-lv1 {
        font-size: 1.3rem;
        font-weight: 600;
        > li {
            margin-bottom: 1rem;
        }
    }

    .contents-list-lv2 {
        font-size: 1rem;
        font-weight: 400;
    }

    .contents-list-lv3 {
        margin-left: 1rem;
        a {
            color: color.scale(var.$link-color, $lightness: 20%);
        }
    }
}

.example {
    .heading {
        padding-top: 5rem;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        padding: 0.6rem 0;

        .btn {
            @include mixins.flex-center;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin-left: 1.5rem;
            .material-icons {
                font-size: 1.3rem;
            }
        }
    }

    .code-demo {
        @include mixins.flex-center;
        background-color: white;
        padding: 1rem;
        border: 1px solid var.$border-color;
        border-radius: 6px;
    }

    .code-source {
        border-radius: 6px;
        max-width: 90vw;
        .hljs {
            padding: 1rem 1.5rem;
        }
    }
}

.hash-link {
    &:hover {
        text-decoration: none;
    }

    .heading {
        &::after {
            content: "#";
            margin-left: 0.6rem;
            opacity: 0;
            transition: opacity 0.15s ease;
        }
        &:hover::after {
            opacity: 0.9;
        }
    }
}

#root {
    padding-top: 4rem;
    background-color: #f9f9fb;
}

#header {
    .navbar-nav {
        font-weight: 700;
        li {
            margin: 0 1.25rem;
        }
    }
}

#footer {
    font-size: 0.9em;
    color: var.$secondary-color;
    margin-top: 3rem;
    padding: 2rem 1.5rem;
    border-top: 1px solid var.$border-color;
    text-align: center;
    background-color: #f5f6f7;
}

#content {
    @include mixins.flex-center("m");

    .table-contents {
        position: sticky;
        left: 0;
        top: 5rem;
        flex: 1 1 0;
        @media (max-width: 1200px) {
            flex-basis: auto;
        }
    }

    main {
        max-width: 900px;
    }

    .place-holder {
        flex: 1 1 0;
    }
}

@media (max-width: 900px) {
    #content {
        flex-direction: column;
        align-items: center;
        .table-contents {
            position: static;
            padding-top: 2rem;
        }
    }
}

#usage {
    .sample-text {
        margin-left: 1.5rem;
    }
}
