@use 'var';
@use 'mixins';
@use 'menu';
@use 'example';
@use 'table-contents';
@use 'hash-heading';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    padding-top: 4rem;
    background-color: #f9f9fb;

    .app-toast {
        position: fixed;
        z-index: 200;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        padding: 0.6rem 1.5rem;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
        background-color: #f5f6fa;
        pointer-events: none;
        user-select: none;
    }
}

#header {
    .navbar {
        z-index: 10;
        font-weight: 700;
        li {
            margin: 0 1.25rem;
        }
    }
}

#footer {
    font-size: 0.9em;
    color: var.$secondary-color;
    padding: 2rem 1.5rem;
    border-top: 1px solid var.$border-color;
    text-align: center;
    background-color: #f5f6f7;
}

#content {
    @include mixins.flex-center("m");

    .table-contents {
        position: sticky;
        left: 0;
        flex: 1 1 0;
        @media (max-width: 1300px) {
            flex-basis: auto;
        }
    }

    main {
        flex: 0 1 900px;
        padding: 0 1rem 3rem 1rem;
    }

    .place-holder {
        flex: 1 1 0;
    }
}

@media (max-width: 900px) {
    #content {
        flex-direction: column;
        align-items: center;
        .table-contents {
            position: static;
        }
    }
}

#usage {
    .sample-text {
        margin-left: 1.5rem;
    }
}

#documentation {
    li code:first-child {
        font-size: 0.925rem;
        background-color: var.$highlight-color;
        margin-right: 0.5rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    em {
        background-color: var.$highlight-color;
    }

    .keyboard {
        @include mixins.reset-list;
        margin-bottom: 2rem;

        li span:first-child {
            display: inline-block;
            font-size: 0.875rem;
            border: 1px solid #212529;
            border-radius: 0.125rem;
            background-color: white;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            padding: 0 0.5rem;
            margin: 0.25rem 0.5rem 0.25rem 0;
        }
    }
}
