name: Dependency update (deplift)

on:
  schedule:
    - cron: '0 16 * * 5'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest

    steps:
      - name: Update dependencies
        uses: szhsin/deplift-action@v1
